@model List<WebApplication1.Models.employe>
@{
    ViewBag.Title = "index";
    int sn = 0;
}
<style>
    .nabin {
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,202,45,1) 100%);
        width: 80%;
    }

</style>

<h2>index</h2>
<table border="1" class="nabin">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (var data in Model)

    {
        <tr>
        <td>@(++sn)</td>
        <td>@(data.e_name)</td>
        <td>@(data.salary)</td>
    </tr>
    }



</table>

