
<style type="text/css">
    .nabin input type submit {
        background-color: green;
    }
</style>


<h1>Create</h1>
<form class="nabin" action="SaveData">
    <label class="col-md-2">Employee_Name</label>
    @Html.DropDownList("employeeList", null, "Select", htmlAttributes: new { @Name = "e_id", @class = "form-control" })
    <label class="col-md-2">Id</label>
    <div class="col-md-4">
        <input type="text" name="e_id" class="form-control" />
    </div><br />
    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" name="e_name" class="form-control" />
    </div><br />
    <label class="col-md-2">Salary</label>
    <div class="col-md-4">
        <input type="text" name="salary" class="form-control" />
    </div><br />
    <label class="col-md-2">Submit</label>
    <div class="col-md-4">
        <input type="submit" name="save" value="submit" />
    </div>




</form>

